<nav class="bg-white border-gray-200 red">
    <div class="max-w-screen-xl flex flex-wrap items-center  mx-auto p-4">
      <a [routerLink]="['registration']" class="flex items-center">
          <img src="assets/images.png" class="h-16 mr-3" alt="RedMed logo" />
      </a>
        <ul class="flex flex-wrap">
          <li>
            <a [routerLink]="['registration']"
            class="block m-2 py-2 pl-3 pr-4p text-gray-300 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0" >რეგისტრაცია</a>
          </li>
          <li>
            <a [routerLink]="['clients']"
            class="block m-2 py-2 pl-3 pr-4p text-gray-300 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0" >კლიენტები</a>
          </li>    
        </ul>
      </div>
  </nav>